h1{
    margin-left:50px;
}
#incbut{
    background-color: red;
    width:200px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}
#savbut{
    background-color: rgb(182, 111, 111);
    width:200px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
body{
    text-align: center;
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/winter-family-portrait-royalty-free-image-1604684571.?crop=1.00xw:0.752xh;0,0.209xh&resize=1200:*");
    background-size: cover;
}